body {
  padding-top: 20px;
}

#map {
  width: 100%;
  height: 600px;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
}

a#share-map, a#share-map:link, a#share-map:visited, a#share-map:hover, a#share-map:active {
  text-decoration: none;
  color: #2B83D0;
}
